html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #3b3b4a transparent;
}
