:host ::ng-deep .navbar--dashboard .navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 150px;
  height: 100vh;
  background-color: #fff;
  padding: 1rem 2rem;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
  position: relative;
}
:host ::ng-deep .navbar--dashboard {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
:host ::ng-deep .navbar--dashboard .navbar__links ul {
  flex-direction: column;
  align-items: flex-start;
  gap: rem;
}

:host ::ng-deep .navbar--dashboard .navbar__auth {
  margin-top: auto;
  border-top: 1px solid #eee;
  padding-top: 1rem;
  width: 100%;
}

:host ::ng-deep .navbar--dashboard .navbar__logo {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
:host ::ng-deep .navbar--dashboard .navbar__logo img {
  width: 30px;
  height: 30px;
}
