<header class="landing-nav">
    <div class="landing-nav__logo">
        <a routerLink="/">
            <img [src]="logoUrl()" alt="Logo" />
        </a>
    </div>

    <nav class="landing-nav__links">
        <ul>
            @for (link of navLinks(); track link.path) {
            <li routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                <a [routerLink]="link.path">{{ link.label }}</a>
            </li>
            }
        </ul>
    </nav>

    <div class="landing-nav__auth desktop-auth">
        <ng-container *ngTemplateOutlet="authTpl"></ng-container>
    </div>


    <button class="landing-nav__mobile-btn" type="button" (click)="toggleMobileMenu()">
        <mat-icon>{{ isMobileOpen() ? 'close' : 'menu' }}</mat-icon>
    </button>
</header>

<nav class="landing-mobile" [class.open]="isMobileOpen()">
    <ul>
        @for (link of navLinks(); track link.path) {
        <li routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
            <a [routerLink]="link.path" (click)="closeMobileMenu()">
                {{ link.label }}
            </a>
        </li>
        }
    </ul>

    <div class="landing-mobile__auth">
        <ng-container *ngTemplateOutlet="authTpl"></ng-container>
    </div>
</nav>