<div class="card-container" [ngClass]="buttonClass()">
    <div class="card" *ngFor="let card of CardData()" [ngStyle]="{ 'background-color': card.cardBgColor }">
        <div class="icon-wrapper" *ngIf="card.icon" [ngStyle]="{ 'background-color': card.iconBgColor }">
            <mat-icon *ngIf="card.type === 'material'" class="icon" [ngStyle]="{ color: card.iconColor }">
                {{ card.icon }}
            </mat-icon>
            <img *ngIf="card.type !== 'material'" class="icon-img" [src]="card.icon" [alt]="card.title" />
        </div>
        @if( card.title){
        <h3>{{ card.title }}</h3>
        }
        @if( card.p){
        <p>{{ card.p }}</p>
        }
        <ng-content></ng-content>
    </div>
</div>